.detail {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */

  overflow: hidden;
  position: relative;
  /* width: 100%; */
  /* height: 100%; */
}

.detail__image {
  width: 100%;
  border-radius: 8px;
}
.texts {
  /* background: #fff; */
  padding: 8px;
}
.texts__title {
  color: var(--tertiary_color);
  font-size: 2em;
  text-align: center;
  font-weight: 700;
}
.texts__titlespan {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--secondary_color);
  /* text-align: center; */
  /* display: block; */
}
.texts__span {
  padding: 0 8px;
  font-size: 1em;
  font-weight: 500;
}
