* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
:root {
  --primary_color: #d7e7c4;
  --secondary_color: #89b282;
  --tertiary_color: #293f36;
  --quarter_color: #98744e;
}
