.main {
}
.card {
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px red solid;
  text-decoration: none;
}
.card__image {
  width: 100%;
}
.card__title {
  font-size: 1.4em;

  text-align: center;
}
.card__texts {
}
.card__span {
  display: block;
  color: aliceblue;
  /* font-size: 3em; */

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
