/* .landing {
  background-color: #364652;

  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  color: black;
}
.land > h1 {
  background-color: rgba(122, 121, 121, 0.726);
  padding: 1vw;
  border-radius: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 6vw;
  color: white;
  text-shadow: 2px 2px 2px black;
  /* font-family: Arial, sans-serif; */
/* text-shadow: 0px 5px 10px rgb(233, 17, 136); */
/* } */
.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 16px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.text__title {
  color: var(--quarter_color);
  font-size: 2em;
  text-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
  text-align: center;
  /* text-decoration: underline; */
  font-weight: 600;
}
.text__paragraph {
  text-align: center;
  padding: 0 24px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}
.landing__img {
  width: 225px;
}
.landing__button {
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: var(--tertiary_color);
  padding: 8px;
  border-radius: 8px;
  font-size: 1.8em;
  width: 80%;
  margin-top: 24px;
}
.vector {
  position: fixed;
  inset: 0;
  /* height: 50vh; */
  width: 100%;
  z-index: -1;
}
