.searhBar {
  display: flex;
  gap: 4px;
  align-items: center;
}
.searhBar__input {
  width: 120px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #606970;
}

.slide__button {
  color: #000;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.7s;
  padding: 4px;
  font-size: 1em;
}

.slide_diagonal:hover {
  font-size: 1vw;
  box-shadow: inset 400px 50px 0 0 #c4e1f1;
}
