.searhBar {
  display: flex;
  gap: 4px;
  align-items: center;
}
.searhBar__button {
  color: #000;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.7s;
  padding: 4px;
  font-size: 1em;
  display: none;
}

.searhBar__input {
  width: 120px;

  border: none;
  font-size: 1em;
  padding: 2px 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #606970;
  text-transform: uppercase;
}
.searhBar__input:focus-visible {
  outline: 1px solid var(--tertiary_color);
}
@media screen and (min-width: 480px) {
  .searhBar__input {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .searhBar__input {
    width: 350px;
  }
}
@media screen and (min-width: 960px) {
  .searhBar__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .searhBar__input {
    width: 550px;
  }
}
